<h1 class="text-center my-4">Adicionar Tarefa à Lista: <%= @list.name %></h1>
<div class="d-flex justify-content-center">
  <div class="card p-4 shadow-sm" style="max-width: 400px; width: 100%;">
    <%= form_with model: [@list, @task], local: true do |form| %>
      <div class="mb-3">
        <%= form.label :description, 'Descrição da Tarefa', class: 'form-label' %>
        <%= form.text_field :description, class: 'form-control' %>
      </div>
      <div class="mb-3 form-check">
        <%= form.check_box :completed, { class: 'form-check-input' }, 'true', 'false' %>
        <%= form.label :completed, 'Concluída?', class: 'form-check-label' %>
      </div>
      <%= form.submit 'Adicionar', class: 'btn btn-primary w-100' %>
    <% end %>
  </div>
</div>
