<div class="page-body d-flex flex-column align-items-center justify-content-center" style="min-height: 60vh;">
  <h1 class="text-center my-4" style="font-size: 36px;">Adicionar Tarefa à Lista: <%= @list.name %></h1>
  <div class="card p-4 shadow-sm custom-card no-hover" style="max-width: 700px; width: 100%;">
    <%= form_with model: [@list, @task], local: true do |form| %>
      <div class="mb-3">
        <%= form.label :description, 'Descrição da Tarefa', class: 'form-label' %>
        <%= form.text_field :description, class: 'form-control' %>
      </div>
      <div class="mb-3 d-flex align-items-center">
        <span class="me-2" style="cursor: pointer;" onclick="toggleCompletion(this)">
          <i class="fas fa-circle" id="completion-icon" style="color: #dc3545;"></i>
        </span>
        <%= form.hidden_field :completed, value: false %>
        <%= form.label :completed, 'Concluída?', class: 'form-check-label' %>
      </div>
      <div class="d-flex justify-content-between">
        <%= form.submit 'Adicionar', class: 'btn btn-primary w-100 me-2' %>
        <%= link_to 'Cancelar', list_path(@list), class: 'btn btn-secondary w-100' %>
        </div>
    <% end %>
  </div>
</div>

<script>
  function toggleCompletion(element) {
    const icon = element.querySelector('i');
    const hiddenField = document.querySelector('input[name="task[completed]"]');

    if (hiddenField.value === "true") {
      hiddenField.value = "false";
      icon.classList.remove('fa-check-circle');
      icon.classList.add('fa-circle');
      icon.style.color = '#dc3545'; // Red color for incomplete
    } else {
      hiddenField.value = "true";
      icon.classList.remove('fa-circle');
      icon.classList.add('fa-check-circle');
      icon.style.color = '#28a745'; // Green color for complete
    }
  }
</script>