<div class="page-body d-flex flex-column align-items-center justify-content-center" style="min-height: 60vh;">
  <h1 class="text-center my-4" style="font-size: 36px;">Forgot Your Password?</h1>

  <div class="card p-4 shadow-sm custom-card no-hover" style="max-width: 700px; width: 100%;">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mb-3">
        <%= f.label :email, 'E-mail', class: 'form-label' %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Digite seu e-mail' %>
      </div>

      <div class="d-flex justify-content-between">
        <%= f.submit 'Send Reset Instructions', class: 'btn btn-primary w-100 me-2' %>
      </div>
    <% end %>

    <div class="text-center mt-3">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
